<% layout("/layouts/boilerplate.ejs") -%>
    <style>
        #filters {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin-left: 10rem;

        }

        .filter {
            text-align: center;
            margin-right: 1rem;
            margin-top: 2rem;
            opacity: 0.7;
        }

        .filter:hover {
            opacity: 1;
            cursor: pointer;
        }

        .filter p {
            font-size: 0.8rem;
        }

        .tax-info {
            display: none;
        }
        .lf {
           
  margin-left: 5rem; /* Adjust as needed */

        }
.search{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
        .tax-toggles {
            border: 1px solid black;
            border-radius: 1rem;
            height: 3.25rem;
            width: auto;
            padding: 1rem;
            margin-left: 2rem;
            display: flex;
            align-items: center;
        }

        @media (max-width: 768px) {
            #filters {
                margin-left: 0;

                white-space: nowrap;
            }
            .lf{
                margin-left: 3rem;
            }

            .filter,
            .tax-toggles {
                display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
            }
        }

        @media (max-width: 576px) {
            #filters {
                margin-left: 0;

                white-space: nowrap;
            }

            .filter,
            .tax-toggles {
                display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
            }
        }
    </style>

    <body>
        <div class="tax-toggles mt-2">
            <div class="form-check-reverse form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">Display total after taxes</label>
            </div>
        </div>
        </div>
        <div class="search">
        <h6>Search Results</h6>
    </div>

        <div class=" lf row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 row-cols-xs-1 row-cols-1 mt-2">
            <% for (res of searchResult) { %>

                <div class="card col listing-card " style="width: 20rem;">

                    <a href="/listings/<%=res._id%>" class="lisiting-link">
                        <img src=<%=res.image.url%> class="card-img-top" alt="image of the house" style = "height :
                        20rem"/>
                        <div class="card-img-overlay"></div>
                        <div class="card-body">
                            <p class="card-text"><b>
                                    <%=res.title%>
                                </b>
                                <br>
                                <%= Number(res.price.replace(/[^0-9.-]+/g, '' )) .toLocaleString('en-GB', {
                                    style: 'currency' , currency: 'GBP' }) .replace('.00', '' ) %> / night
                                    <i class="tax-info">&nbsp;&nbsp;+18% VAT</i>
                            </p>
                        </div>
                    </a>
                </div>
                <% }%>

         </div>


    </body>

    <script>
        let taxSwitch = document.getElementById("flexSwitchCheckDefault");

        taxSwitch.addEventListener("click", () => {
            let taxInfo = document.querySelectorAll(".tax-info");
            console.log("click");
            for (let info of taxInfo) {
                if (info.style.display !== "inline") {
                    info.style.display = "inline";
                } else {
                    info.style.display = "none";
                }
            }
        });


    </script>